<div>Foo</div>

{% if foo %}<span></span>{% endif %}

{% if foo %}<div><span>Foo</span></div>{% endif %}

{% if foo %}{% set bar = 'true' %}{% endif %}

<div {% if bar %}class="attribute"{% endif %}></div>

<div>
  {% if foo %}<span>foo</span>{% endif %}

  {% if bar %}<div>bar</div>{% endif %}
</div>
